/* Custom CSS for Admin Dashboard */

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #5412e3bd;
  color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: width 0.3s; 
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #165aa2c6;
}

/* Active link style */
.sidebar ul li a.active {
  background-color: #007bff;
}

/* Style the three boxes */
.card {
  margin-bottom: 20px;
}
.card-title{
  text-align: center;
  color: rebeccapurple;
  font-size: 30px; 
  font-family: Arial, sans-serif; 
}
.card-text{
  font-size: 20px; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 10px;

}
/* Style table header */
.table thead th {
  text-align: center;
  background-color: rgb(7, 244, 188);
}

/* Style table data */
.table tbody td {
  vertical-align: middle;
}

/* Responsive table */
@media (max-width: 767px) {
  .table-responsive {
    overflow-x: auto;
  }
}

/* Adjust table font size for smaller screens */
@media (max-width: 575px) {
  .table td, .table th {
    font-size: 12px;
  }
}
.container mt-4 ml-5{
  width: 100px;
  text-align: center;
  margin-left:35px;

}
.row {
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -100px;
    margin-left: 206px;
}
.card-img-top{
  padding: 20px;
  margin: 10px;
}
.ram{
  position: center;
} 